
.navbarContainer{
  position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 100;
}

.exitInfoRow{
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  position: absolute;
  top: 0;
  z-index: 100 !important;
  background-color: #6f0083;
  padding-bottom: 0.7mm;
  padding-right: 0;
  width: 100%;
  height: 25px;
  /*display: inline-flex;
  align-items: flex-end;*/
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.exitColumn2{
  text-align: right;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 10pt;
  padding-right: 0;
  padding-top: 3px;
}

.exitColumnText{
  background-color: #db5bd4;
  text-decoration: none !important;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 10px;
}

.exitColumnText > a{
  text-decoration: none !important;
  color: purple;
}

.exitColumnText > a:hover{
  color: #008096;
}

.navbar{
	position: relative;
    /*height:50px;*/
    z-index: 100 !important;
}

.lshNavBar{
  position: absolute !important;
  top:25px;
  width: 100%;
	background-color: #6f0083;
	color:white !important;
	opacity: 1;
	z-index: 100 !important;
  height: 85px;

  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#wpadminbar {
  display:none;
}


.lshNavBarContainer{
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.lshHeader{
  background-color: #6f0083 !important;
  color:white !important;
}

.nav-link{
  color:white !important;
}

.lshLogoImage{
  top:0px;
  left:100px;
  border-radius: 50%;
}

.lshBrandText{
  margin-left:160px !important;
}

.lshSearch{
  margin-right: 2rem;
  margin-bottom: 100px;
}

.navbar-nav > a{
  color:white;
}

.navbar-brand{
  margin-left: 2rem;
}

.navbar-nav {
    border-radius: 0;
    background: none;
    z-index: 5;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: #F44336;
    padding-left: 50px;
}

.navbar-nav .nav-link{
  margin-right: 10px !important;
  /*border-right: 1px solid white !important;*/
}

.navbar-nav .nav-link:hover {
  background-color: purple !important;
  opacity: 1 !important;
}

#nav-link-last > a {
  border-right: none !important;
}

.lsh-dropdown-menu{
  font-family: "Open Sans", sans-serif;
  border-radius: 0 !important;
  background-color: #3e3e3e;
}

.dropdown-item:hover{
  background-color: #008096 !important;
  color: white;
  /*opacity: .8;*/
}

.lsh-dropdown-menu > li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color:white;
}

.lshLinkList{
  margin-left: 22rem !important;
}


.banners{
  background-color: #007e92;
  padding-top: 3rem;
  margin: 0 !important;
  position: absolute;
  
  top: 0;
  height: 115px;
  font-size: 10pt;
  opacity: 1;
  width: 60px;
  align-items: center;

  -webkit-transition: height .5s ease-out;
  -moz-transition: height .5s ease-out;
  -o-transition: height .5s ease-out;
  transition: height .5s ease-out;
}

.banners:after {
    z-index: 100;
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    /*margin-left: -25%;*/
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #007e92;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

.banners:hover{
  height: 135px;
}
.banners:hover .bannerText{
  color: purple;
}

.bannerText{
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12pt;
  color: white;
  text-decoration: none !important;
}

.bannerText:hover{
  /*color: purple;*/
}

.donateBanner{
  right:7%;
}

.espanolBanner{
  right: 12%;
}

.exitBanner{
  right:2%;
  background-color: #c50101;
}

#closeBanner{
  background-color: #c50101;
  padding-top: 3rem;
  margin: 0 !important;
  position: absolute;
  
  /*top: 0;*/
  height: 115px;
  font-size: 10pt;
  opacity: 1;
  width: 60px;
  align-items: center;

  -webkit-transition: height .5s ease-out;
  -moz-transition: height .5s ease-out;
  -o-transition: height .5s ease-out;
  transition: height .5s ease-out;
}

#closeBanner:after {
    z-index: 100;
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    /*margin-left: -25%;*/
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #c50101;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

#closeBanner:hover{
  height: 135px;
  color: white !important;
}

.carousel{
  z-index: 5;
}