
.navbarContainer{
  position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    z-index: 1000;
    background-color: #6f0083;
    -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
  font-family: "Open Sans", sans-serif;
}

.imageDiv{
  position: relative;
  height: 85px;
  width: 20%;
}

.exitInfoRow{
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  position: absolute;
  top: 0;
  z-index: 100 !important;
  background-color: #6f0083;
  padding-bottom: 0.7mm;
  padding-right: 0;
  width: 100%;
  height: 25px;
  /*display: inline-flex;
  align-items: flex-end;*/
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.exitColumn2{
  text-align: right;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 10pt;
  padding-right: 0;
  padding-top: 3px;
}

.exitColumnText{
  background-color: #db5bd4;
  text-decoration: none !important;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 10px;
}

.exitColumnText > a{
  text-decoration: none !important;
  color: purple;
}

.exitColumnText > a:hover{
  color: #008096;
}

.bannersGroup{
  position: relative;
  width: 20%;
  height: 85px;
}

.navbar{
	position: relative;
    /*height:50px;*/
    z-index: 100 !important;
}

.lshNavBar{
  position: absolute !important;
  top:25px;
  width: 100%;
	background-color: #6f0083;
	color:white !important;
	opacity: 1;
	z-index: 100 !important;
  height: 85px;

  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
  -o-transition: opacity .3s ease-out;
  transition: opacity .3s ease-out;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#wpadminbar {
  display:none;
}


.lshNavBarContainer{
	margin-bottom: 1rem !important;
}

.lshHeader{
  background-color: #6f0083 !important;
  color:white !important;
}

.nav-link{
  color:white !important;
}

.lshLogoImage{
  top:0;
  left:5%;
  border-radius: 50%;
}

.lshBrandText{
  margin-left:160px !important;
}

.lshSearch{
  margin-right: 2rem;
  margin-bottom: 100px;
}

.navbar-nav > a{
  color:white;
}

.navbar-brand{
  margin-left: 2rem;
}

.navbar-nav {
    border-radius: 0;
    background: none;
    z-index: 5;
}

.navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: #F44336;
    padding-left: 50px;
}

.navbar-nav .nav-link{
  margin-right: 10px !important;
  /*border-right: 1px solid white !important;*/
}

.navbar-nav .nav-link:hover {
  background-color: purple !important;
  opacity: 1 !important;
}

#nav-link-last > a {
  border-right: none !important;
}

.navbar-toggler{
  background-color: #007e92;
}

.navbar-toggler-icon{
  color: white;
}

.lsh-dropdown-menu{
  font-family: "Open Sans", sans-serif;
  border-radius: 0 !important;
  background-color: #3e3e3e;
}

.dropdown-item:hover{
  background-color: #008096 !important;
  color: white;
  /*opacity: .8;*/
}

.lsh-dropdown-menu > li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color:white;
}

.lshLinkList{
  margin-left: auto !important;
}


.banners{
  background-color: #007e92;
  padding-top: 3rem;
  margin: 0 !important;
  position: absolute;
  
  top: 0;
  height: 115px;
  font-size: 10pt;
  opacity: 1;
  width: 60px;
  align-items: center;

  -webkit-transition: height .5s ease-out;
  -moz-transition: height .5s ease-out;
  -o-transition: height .5s ease-out;
  transition: height .5s ease-out;
}

.banners:after {
    z-index: 100;
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    /*margin-left: -25%;*/
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #007e92;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

.banners:hover{
  height: 135px;
}
.banners:hover .bannerText{
  color: purple;
}

.bannerText{
  position: absolute;
  top: 25%;
  right: 50%;
  transform: translateX(50%);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12pt;
  color: white;
  text-decoration: none !important;
}

.bannerText:hover{
  /*color: purple;*/
}

.donateBanner{
  right:25%;
}

.espanolBanner{
  right: 50%;
}

.exitBanner{
  right:0;
  background-color: #c50101;
}

#closeBanner{
  background-color: #c50101;
  padding-top: 3rem;
  margin: 0 !important;
  position: absolute;
  
  /*top: 0;*/
  height: 115px;
  font-size: 10pt;
  opacity: 1;
  width: 60px;
  align-items: center;

  -webkit-transition: height .5s ease-out;
  -moz-transition: height .5s ease-out;
  -o-transition: height .5s ease-out;
  transition: height .5s ease-out;
}

#closeBanner:after {
    z-index: 100;
    display: flex;
    position: absolute;
    top: 100%;
    right: 0;
    /*margin-left: -25%;*/
    content: '';
    width: 0;
    height: 0;
    border-top: solid 30px #c50101;
    border-left: solid 30px transparent;
    border-right: solid 30px transparent;
}

#closeBanner:hover{
  height: 135px;
  color: white !important;
}

.collapsing{
  background-color: #007e92;
}

/*.show{
  background-color: #007e92;
  margin-top: 5px !important;
  padding: 10px;
}*/


/*SIDE NAVBAR*/

.sideNavBar{
  display: none;
}

/* The side navigation menu */
/* Side Menu */

.navMenuContainer{
  width: 100%;
  overflow: auto;
}

#sidebar-wrapper {
  position: fixed;
  z-index: 100;
  margin-top: 25px !important;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: black;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/*i{
  display: inline;
  position: absolute;
  bottom: 0;
  right: 40%;
}*/
.icons{
  border-bottom: 1pt solid white;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 90%;
  text-align: center;
}

.icons > a{
  display: inline-block;
  color: purple;
  margin-right: 10px !important;
  margin-left: 10px !important;
  font-size: 18pt !important;
}

.icons > a:hover{
  color:#008096;
}

#linkedin{
  display: inline;
  font-size: 18pt;
  position: absolute;
  bottom: 25%;
  right: 28%;
}
#github{
  display: inline;
  font-size: 18pt;
  position: absolute;
  bottom: 25%;
  right: 68%;
}
#github:hover{
  color: gray;
}
#linkedin:hover{
  color: gray;
}
#email{
  display: inline;
  font-size: 18pt;
  position: absolute;
  bottom: 25%;
  right: 48%;
}
#email:hover{
  color: gray;
  cursor: pointer;
}
#navFooter{
  position: absolute;
  bottom: 0;
  right: 30%;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  overflow: scroll;
  height: 84%;
  list-style: none;
}
#sidebar-wrapper > ul > li{
  float: none;
  line-height: 45px;
  z-index: 100;
}
.sidebar-nav li.sidebar-nav-item > a {
  display: block;
  margin-top: 7px !important;
  text-decoration: none;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: #fff;
  padding-left: 10px;
  font-weight: normal;
  display: inline-flex;
  width: 100%;
  
}

.sidebar-nav-item > a:hover{
  background-color: #008096;
  opacity: 1;
}

.subMenuHeader{
  border-right: 2px solid purple;
  width: 70% !important;
}

.subMenuHeaderBoarde {
  border-left: 2px solid #f51c40;
  position: absolute;
  top: 50%;
  bottom: 0;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: white;
  
  /*background: rgba(255, 255, 255, 0.2);*/
  background-color: #004a61;
  opacity: 1 !important;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  clear: both;
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  text-align: left;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  /*padding-left: 15px;*/
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: purple;
  background: none;
}

.nav_item_sub > a {
    color: white;
    text-decoration: none;
    position: relative;
    /* padding: 15px 50px 15px 50px; */
    font-size: 12pt;
    display: inline-flex !important;
    margin-top: 10px !important;
    border-right: 2px solid #01495f;
    width: 60% !important;
}

.nested_sub_item > a{
    border-right: 2px solid #007e93;
    font-size: 11pt;
}

.nested_sub_item > a:hover{
  background-color: purple !important;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  padding:10px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 40px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.navArrows{
    padding: 6px 10px 6px 10px;
    display: inline-flex;
    cursor: pointer;
    color: white;
    font-size: 15pt;
    margin-left: 7px !important;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.navArrows:hover{
  color: purple;
}

.navArrows.arrowActive{
  transform: rotate(-90deg);
}

.subNavArrows{
    padding: 6px 10px 6px 10px;
    display: inline-flex;
    cursor: pointer;
    color: white;
    font-size: 15pt;
    margin-left: 7px !important;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.subNavArrows:hover{
  color: purple;
}

.subNavArrows.arrowActive{
  transform: rotate(-90deg);
}

.navArrows + .dropdown-content.subActive {
  /*visibility: visible;*/
  /*opacity: 1;*/
  /*z-index: 1;*/
}

.dropdownSideMenu {
  position: relative;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: -1;
  line-height: 25px;
  padding-left: 10px;
  visibility: visible;
  height: 0;
  overflow: hidden;
  -webkit-transition: visibility .3s ease-out;
  -moz-transition: visibility .3s ease-out;
  -ms-transition: visibility .3s ease-out;
  -o-transition: visibility .3s ease-out;
  transition: visibility .3s ease-out;

  -webkit-transition: height .5s ease-out;
  -moz-transition: height .5s ease-out;
  -ms-transition: height .5s ease-out;
  -o-transition: height .5s ease-out;
  transition: height .5s ease-out;
}

/*, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
, visibility 0s linear 0.3s, z-index 0s linear 0.01s;*/

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content > li > a:hover {
  background-color: #008096;
  /*background-color: #343a40;*/
  opacity: .9 !important;
  color: white;
}

/*.dropdown-content > .current_page_item{
  background-color: #008096;
}*/

.dropdown-content > .page_item{
  /*margin-top: 5px !important;*/
  margin-bottom: 3px !important;

}

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {display: block;}*/

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownSideMenu:hover .dropbtn {background-color: #3e8e41;}



@media only screen and (max-width: 1350px) {
  .donateBanner{
    right: 28%;
  }
  .espanolBanner {
    right: 56%;
  }
}

@media only screen and (max-width: 1300px) {
  .donateBanner{
    right: 32%;
  }
  .espanolBanner {
    right: 65%;
  }
}

@media only screen and (max-width: 1250px) {
  .donateBanner{
    right: 34%;
  }
  .espanolBanner {
    right: 68%;
  }
}

@media only screen and (max-width: 1201px) {
  .imageDiv{
    width: 12%;
  }
  .lshLogoImage {
    left: 3%;
  }
  .bannersGroup{
    width: 18%;
  }
  .donateBanner{
    right: 34%;
  }
  .espanolBanner {
    right: 68%;
  }
}

@media only screen and (max-width: 1160px) {
  .imageDiv{
    width: 12%;
  }
  .lshLogoImage {
    left: 4%;
  }
  .bannersGroup{
    width: 12%;
  }
  .donateBanner{
    right: 50%;
  }
  .espanolBanner {
    display: none;
  }
  .lshLinkList{
    margin-left:auto !important;

  }
}

@media only screen and (max-width: 1080px) {
  .imageDiv{
    width: 12%;
  }
  .lshLogoImage {
    left: 4%;
  }
  .bannersGroup{
    display: none;
  }
  .lshLinkList{
    margin-left:auto !important;

  }
}


@media only screen and (max-width: 991px) {
  .sideNavBar{
    display: block;
  }

  .collapse{
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .top-page-flag-green{
    display: none;
  }

  .side-menu{
    display: none;
  }

  .generic-content{
    margin-top: 50px !important;
  }
}





