/*about*/

.whyLatinaJumbotron{
    height: 365px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
    text-align: right;
}

.browseHistoryJumbotron{
    height: 310px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
    text-align: left;
}

.getHelpJumbotron{
    height: 310px;
    background-repeat: no-repeat;
    background-size: 100% 125%;
    background-position: center;
    /*filter: blur(1px);*/
    /*opacity: .66;*/
    position: relative;
    text-align: right;
}

.statsJumbotron{
	height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    /*filter: blur(1px);*/
    opacity: .66;
    position: relative;
}

.understandJumbotron{
	height: 310px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
}

.programsJumbotron{
	height: 310px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: center;
    /*filter: blur(1px);*/
    opacity: .66;
    position: relative;
}

.supportJumbotron{
    height: 310px;
    background-repeat: no-repeat;
    background-size: 100% 225%;
    background-position: center 30%;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
    text-align: right;
}

.stayConnectedJumbotron{
    height: 375px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: top;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
    text-align: right;
}

.missionJumbotron{
	height: 310px;
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: bottom;
    /*filter: blur(1px);*/
    opacity: .66;
    position: relative;
}

.aboutJumbotron{
    height: 365px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
    text-align: right;
    
}

.eventsJumbotron{
    height: 365px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
    background-position: center;
    /*filter: blur(1px);*/
    opacity: 1;
    position: relative;
    text-align: right;
    
}

.aboutJumbotron:after {
  background: white;
  bottom: -50px;
    content: '';
    display: block;
    height: 15%;
    left: 0;
    padding-bottom: -5px;
    position: absolute;
    right: 0;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: 1;
}

.whyLatinaJumbotron:after {
  background: white;
  bottom: -50px;
    content: '';
    display: block;
    height: 15%;
    left: 0;
    padding-bottom: -5px;
    position: absolute;
    right: 0;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: 1;
}

.pageJumbotron:after{
    background: white;
  bottom: -50px;
    content: '';
    display: block;
    height: 15%;
    left: 0;
    padding-bottom: -5px;
    position: absolute;
    right: 0;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: 1;
}

/*.aboutDivider{
    height: 30px;
    background-color: #6f0083;
    transform: skewY(2.5deg);
    transform-origin: 0;
}*/

.page-banner__content {
  position: absolute;
  z-index: 2;
  bottom: 30px;
}

.page-banner__title {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 3.6rem;
  margin: 0 0 1rem 0;
  color: #FFF;
}

@media (min-width: 530px) {

  .page-banner__title {
    font-size: 5rem;
  }
}

/*
Generic Pages
*/

.side-menu{
	min-height: 400px;
	background-color: #5c5f61;
	opacity: 1;
	position: relative;
    padding: 0 !important;
}

.page-section{
	/*padding-left: 0 !important;*/
}

.top-page-flag-green{
	background-color: #008096;
	min-height: 100px;
	position: relative;
	margin-top: 30px!important;
    text-align: center;
}



.top-page-flag-green:after {
	
	z-index: 75;
    display: flex;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    top: 0;
    right:-25px;
    /*margin-left: -25%;*/
    width: 0;
    height: 0;
    border-top: solid 50px transparent;
    border-right: solid 50px white;
    border-bottom: solid 50px transparent;
}

.top-page-flag-darkgreen{
	background-color: #00495f;
	min-height: 100px;
	position: relative;
	margin-top: 30px!important;
    text-align: center;
}

.top-page-flag-darkgreen:after {
	
	z-index: 75;
    display: flex;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    top: 0;
    right:-25px;
    /*margin-left: -25%;*/
    width: 0;
    height: 0;
    border-top: solid 50px transparent;
    border-right: solid 50px white;
    border-bottom: solid 50px transparent;
}

#flagTitle{
	color: white;
    text-align: center;
    line-height: 100px;
    font-size: 22pt;
    text-decoration: none !important;
}

#flagTitle:hover{
    color: purple;
}

.bottom-page-flag{
    background-color: #5c5f61;
    height: 50px;
    /*opacity: .3;*/
    margin-bottom: 60px !important;
    
}


.generic-content-event{
    margin-top: 30px !important;
    border-right: 30px solid #5c5f61;
    padding: 30px;
    border-left: 30px solid #5c5f61;
}
/*.bottom-page-flag:after{
    background-color: #c5c5c5;
  bottom: -50px;
    content: '';
    display: block;
    height: 170%;
    left: 0;
    padding-bottom: -5px;
    position: absolute;
    right: 0;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: 1;
    
}*/

/*.bottom-page-flag:before {
  background: #008096;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-2.5deg);
  transform-origin: 100%;
  z-index: -1;
}*/

.navArrowBlank{
    padding: 6px 6px 6px 6px;
    display: inline-flex;
    margin-left: 7px !important;
    font-size: 18pt;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: transparent;
}

.navArrowPages{
    padding: 6px 6px 6px 6px;
    display: inline-flex;
    cursor: pointer;
    color: white;
    font-size: 18pt;
    margin-left: 7px !important;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.navArrowPages:hover{
  color: purple;
}

.navArrowPages.arrowActive{
  transform: rotate(-90deg);
}
.navArrowPages + .dropdown-content.subActive {
  visibility: visible;
  /*opacity: 1;*/
  /*z-index: 1;*/
}

.subMenuHeaderPage{
    border-right: 2px solid #018ba0;
}

.side-panel-link-list{
	text-align: right;
	padding-top: 15px;
	padding-bottom: 15px;
    /*padding-right: 25px;*/
}

.pagePageItem > .page_item{
	padding-top: 10px;
	padding-bottom: 10px;
    padding-right: 30px;
}

.page_item_sub{

}

.page_item_sub > a {
    color: white;
    text-decoration: none;
    padding: 15px 50px 15px 50px;
    font-size: 12pt;
}

.page_item > a {
	color: white;
	text-decoration: none;
    padding: 15px 50px 15px 50px;
    font-size: 16pt;
}

.page_item > a:hover{
    /*color:purple;*/
    color: white;
    background: #008299;
    padding: 15px 50px 15px 50px;
}

.current_page_item{
    position: relative;

}

.current_page_item > a{
    color: white;
}

/*.pagePageItem > .current_page_item:after {
    z-index: 75;
    display: flex;
    transform: translateY(-50%);
    position: absolute;
    content: "";
    top: 52%;
    right: 0;
    margin-left:
    width: 0;
    height: 0;
    border-top: solid 15px transparent;
    border-right: solid 15px #008299;
    border-bottom: solid 15px transparent;
}*/

.quickTip{
    border: 1px solid black;
}

.aboutUsHeaders{
    color: #5d5f61;
}

.aboutTextHead:before {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    /*margin: 0 auto;  This will center the border. */
    width: 80%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 5px solid #5d5f61; /* This creates the border. Replace black with whatever color you want. */
    margin-bottom: 20px
}

/*.aboutTextLower:after {
    content: "";  
    display: block; 
    margin: 0 auto; 
    width: 50%; 
    padding-top: 20px; 
    border-bottom: 1px solid #5d5f61;
}
*/

.executiveDir{
    background-color: #c985c9 !important;
}

.memberItem{
    display: table;
    width: 90%;
    height: 125px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    background-color: #84c2cc;
    padding: 5px;
    box-shadow: 2px 2px 5px 1px #5c5f61
    /*box-shadow: 0px 0px 10px 1px #5c5f61;*/
}

.memberImage{
    float: left;
    border-radius: 50%;
    margin-left: 15px !important;
}

.memberInfo{
    /*height: 150px;
    padding-top: 25px !important;
    padding-right: 10px;
    padding-left: 10px !important;*/
    color: #5d5f61;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 15px !important;
    /*float: right;*/
}

.memeberNameEven{

}

.memberItemEven{
    display: table;
    width: 90%;
    height: 125px;
    padding: 5px;
    background-color: #c985c9;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    box-shadow: 2px 2px 5px 1px #5c5f61
    /*box-shadow: 0px 0px 10px 1px #5c5f61;*/
}

.memberImageEven{
    float: right;
    border-radius: 50%;
    margin-right: 15px !important;
}

.memberInfoEven{
    /*height: 150px;
    padding-top: 25px !important;
    padding-right: 10px;
    padding-left: 10px !important;*/
    color: #5d5f61;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px !important;
    /*float: left;*/
}

.memeberNameEven{

}

.lastMember{
    margin-bottom: 30px !important;
}

.teamPageHeaders{
    color: #5d5f61;
}

.teamPageHeadersTwo{
    color: #5d5f61;
    margin-top: 50px !important;
}

.teamPageHeaders:after {
    content: "";
    display: block;
    width: 80%;
    padding-top: 20px;
    border-bottom: 5px solid #5d5f61;
    margin-bottom: 20px;
}

.pdfWindow{
    width: 100%;
    height:800px;
}



